
{%- assign size_description =  section.settings.size_description | plus: 0 -%}

     {%- if section.settings.show_collection_description or size_description > 0 and collection.description.size > 0  or section.settings.show_collection_image and collection.image -%}
  	<div class="collection-hero">
      <h1 class="collection-title">{{ collection.title | escape }}</h1>
      {%- if section.settings.show_collection_description and size_description > 0 and collection.description.size > 0 -%}
       <div class="rte collection-description">{{ collection.description | truncate: size_description }}</div>
      {%- endif -%}
     {%- if section.settings.show_collection_image and collection.image -%}
        <img 
          data-src="{{ collection.image | img_url: 'master' }}"
          alt="{{ collection.title | escape }}"
          class="lazyload"
        >
     {%- endif -%}
	</div>
     {%- endif -%}


 

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
	{
      "type": "text",
      "id": "size_description",
      "label": "Length of Characters for Short Collection Description.",
      "default": "440"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    }
  ]
}
{% endschema %}
