<div class="custom-cl">
  {% comment %}
  	this is comment
  {% endcomment %}
  
</div>

<style>
  .custom-cl {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    text-align:center;
    
  }
  
</style>